In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
#Calculate the total number of schools
#Calculate the total number of students
#Calculate the total budget
#Calculate the average math score
#Calculate the average reading score
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
#Calculate the percentage of students with a passing math score (70 or greater)
#Calculate the percentage of students with a passing reading score (70 or greater)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting

In [8]:
unique_schools=school_data_complete['School ID'].unique()
num_unique_schools=len(unique_schools)
num_unique_schools

15

In [9]:
unique_students=school_data_complete['Student ID'].unique()
num_unique_students=len(unique_students)
num_unique_students

39170

In [10]:
budget_by_school=school_data_complete.groupby(['School ID']).first()
budget_by_school

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,type,size,budget
School ID,,,,,,,,,,
0,0,Paul Bradley,M,9th,Huang High School,66,79,District,2917,1910635
1,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,District,2949,1884411
2,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,Charter,1761,1056600
3,7627,Russell Davis,M,10th,Hernandez High School,70,88,District,4635,3022020
4,12262,Heather Wright,F,11th,Griffin High School,79,68,Charter,1468,917500
5,13730,Kelli Anderson,F,10th,Wilson High School,84,71,Charter,2283,1319574
6,16013,Olivia Short,F,11th,Cabrera High School,94,94,Charter,1858,1081356
7,17871,Blake Martin,M,9th,Bailey High School,75,59,District,4976,3124928
8,22847,Daniel Rodriguez,M,11th,Holden High School,86,92,Charter,427,248087
9,23274,Alec Davis,M,9th,Pena High School,91,75,Charter,962,585858
10,24236,Aaron Johnson,M,10th,Wright High School,89,72,Charter,1800,1049400
11,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,District,3999,2547363
12,30035,Lisa Casey,F,12th,Johnson High School,87,87,District,4761,3094650
13,34796,Michael Mercado,M,9th,Ford High School,66,94,District,2739,1763916
14,37535,Norma Mata,F,10th,Thomas High School,76,76,Charter,1635,1043130

In [29]:
budget_column=budget_by_school.drop(columns=['Student ID', 'student_name','gender','grade','school_name','reading_score','math_score','type','size'])

total_budget=budget_column.sum()[0]
total_budget

24649428

In [30]:
math_score_column=school_data_complete.drop(columns=['budget','Student ID', 'student_name','gender','grade','school_name','reading_score','type','size'])
read_score_column=school_data_complete.drop(columns=['budget','Student ID', 'student_name','gender','grade','school_name','math_score','type','size'])
avg_math_score=math_score_column.mean()[0]
avg_read_score=read_score_column.mean()[0]
print("Average Math Score: ",avg_math_score)
print("Average Reading Score: ",avg_read_score)

Average Math Score:  78.98537145774827
Average Reading Score:  81.87784018381414

In [31]:
school_data_complete['Math and Read Avg'] = (school_data_complete['math_score'] + school_data_complete['reading_score']) / 2

In [32]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math and Read Avg
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5

In [33]:
math_and_read_avg_column=school_data_complete.drop(columns=['Student ID', 'student_name','gender','grade','School ID','school_name','reading_score','math_score','type','size', 'budget'])
math_and_read_avg_column.head()
average_math_read_combined=math_and_read_avg_column.mean()[0]
average_math_read_combined

80.43160582078121

In [34]:
math_and_read_avg_column.head()

   Math and Read Avg
0               72.5
1               77.5
2               75.0
3               62.5
4               90.5

In [35]:
math_and_read_avg_column_w_stu_id=school_data_complete.drop(columns=['student_name','gender','grade','School ID','school_name','reading_score','math_score','type','size', 'budget'])
math_and_read_pass = math_and_read_avg_column_w_stu_id['Math and Read Avg'] > 69
Math_and_read_pass_sub_set=math_and_read_avg_column_w_stu_id[math_and_read_pass]
Math_and_read_pass_sub_set.head()

   Student ID  Math and Read Avg
0           0               72.5
1           1               77.5
2           2               75.0
4           4               90.5
5           5               94.0

In [36]:
unique_math_and_read_pass_students=Math_and_read_pass_sub_set['Student ID'].unique()
num_unique_M_and_read_pass_students=len(unique_math_and_read_pass_students)
num_unique_M_and_read_pass_students

35427

In [37]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math and Read Avg
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5

In [38]:
math_pass = school_data_complete['math_score'] > 69
Math_pass_sub_set=school_data_complete[math_pass]
Math_pass_sub_set.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math and Read Avg
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,94.0
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,81.0
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,91.0

In [39]:
read_pass = school_data_complete['reading_score'] > 69
Read_pass_sub_set=school_data_complete[read_pass]
Read_pass_sub_set.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math and Read Avg
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,94.0
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,81.0

In [40]:
math_passers=Math_pass_sub_set['Student ID'].unique()
num_math_passers=len(math_passers)
num_math_passers

29370

In [41]:
read_passers=Read_pass_sub_set['Student ID'].unique()
num_read_passers=len(read_passers)
num_read_passers

33610

In [42]:
pcnt_math_passers=num_math_passers/num_unique_students
pcnt_read_passers=num_read_passers/num_unique_students
pcnt_math_and_read_passers=num_unique_M_and_read_pass_students/num_unique_students
print("Percent Reading Passers: ", pcnt_read_passers)
print("Percent Math Passers: ", pcnt_math_passers)
print("Percent Overall Passing Rate: ", pcnt_math_and_read_passers)

Percent Reading Passers:  0.8580546336482001
Percent Math Passers:  0.749808526933878
Percent Overall Passing Rate:  0.9044421751340311

In [44]:
summary_dict = {
    'Total Schools':num_unique_schools,
    'Total Students':num_unique_students,
    'Total Budget':total_budget,
    'Average Math Score':avg_math_score,
    'Average Reading Score': avg_read_score,
    '% Passing Math': pcnt_math_passers,
    '% Passing Reading': pcnt_read_passers,
    '% Overall Passing Rate': pcnt_math_and_read_passers
}

summary_school_and_students_df = pd.DataFrame(summary_dict, index=[0])
summary_school_and_students_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.904442

In [ ]:
#Create an overview table that summarizes key metrics about each school, including:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)
#Create a dataframe to hold the above results

In [45]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math and Read Avg
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5

In [69]:
sch_type=school_data_complete.groupby('school_name').first()
sch_type=sch_type.drop(columns=['gender','student_name','grade','reading_score','math_score','size','budget','Student ID','Math and Read Avg','School ID'])
sch_type.head()

                          type
school_name
Bailey High School    District
Cabrera High School    Charter
Figueroa High School  District
Ford High School      District
Griffin High School    Charter

In [67]:
budget_size_math_and_read_score=school_data_complete.groupby('school_name').mean()
avg_math_and_read_score=avg_math_and_read_score.drop(columns=['Student ID','Math and Read Avg','School ID'])
avg_math_and_read_score.head()

                      reading_score  math_score    size     budget
school_name
Bailey High School        81.033963   77.048432  4976.0  3124928.0
Cabrera High School       83.975780   83.061895  1858.0  1081356.0
Figueroa High School      81.158020   76.711767  2949.0  1884411.0
Ford High School          80.746258   77.102592  2739.0  1763916.0
Griffin High School       83.816757   83.351499  1468.0   917500.0

In [70]:
final_sch_descr_table=sch_type.join(avg_math_and_read_score)
final_sch_descr_table

                           type  reading_score  math_score    size     budget
school_name
Bailey High School     District      81.033963   77.048432  4976.0  3124928.0
Cabrera High School     Charter      83.975780   83.061895  1858.0  1081356.0
Figueroa High School   District      81.158020   76.711767  2949.0  1884411.0
Ford High School       District      80.746258   77.102592  2739.0  1763916.0
Griffin High School     Charter      83.816757   83.351499  1468.0   917500.0
Hernandez High School  District      80.934412   77.289752  4635.0  3022020.0
Holden High School      Charter      83.814988   83.803279   427.0   248087.0
Huang High School      District      81.182722   76.629414  2917.0  1910635.0
Johnson High School    District      80.966394   77.072464  4761.0  3094650.0
Pena High School        Charter      84.044699   83.839917   962.0   585858.0
Rodriguez High School  District      80.744686   76.842711  3999.0  2547363.0
Shelton High School     Charter      83.725724   83.359455  1761.0  1056600.0
Thomas High School      Charter      83.848930   83.418349  1635.0  1043130.0
Wilson High School      Charter      83.989488   83.274201  2283.0  1319574.0
Wright High School      Charter      83.955000   83.682222  1800.0  1049400.0

In [81]:
num_pas_math_by_sch=Math_pass_sub_set.groupby(['school_name']).count()
num_pas_read_by_sch=Read_pass_sub_set.groupby(['school_name']).count()

In [82]:
num_pas_math_by_sch=num_pas_math_by_sch.drop(columns=['gender','student_name','grade','reading_score','math_score','size','budget','Student ID','Math and Read Avg','School ID'])
num_pas_math_by_sch = num_pas_math_by_sch.rename(columns={'type': 'Num Math Passers'})
num_pas_math_by_sch

                       Num Math Passers
school_name
Bailey High School                 3318
Cabrera High School                1749
Figueroa High School               1946
Ford High School                   1871
Griffin High School                1371
Hernandez High School              3094
Holden High School                  395
Huang High School                  1916
Johnson High School                3145
Pena High School                    910
Rodriguez High School              2654
Shelton High School                1653
Thomas High School                 1525
Wilson High School                 2143
Wright High School                 1680

In [83]:
num_pas_read_by_sch=num_pas_read_by_sch.drop(columns=['gender','student_name','grade','reading_score','math_score','size','budget','Student ID','Math and Read Avg','School ID'])
num_pas_read_by_sch = num_pas_read_by_sch.rename(columns={'type': 'Num Read Passers'})
num_pas_read_by_sch

                       Num Read Passers
school_name
Bailey High School                 4077
Cabrera High School                1803
Figueroa High School               2381
Ford High School                   2172
Griffin High School                1426
Hernandez High School              3748
Holden High School                  411
Huang High School                  2372
Johnson High School                3867
Pena High School                    923
Rodriguez High School              3208
Shelton High School                1688
Thomas High School                 1591
Wilson High School                 2204
Wright High School                 1739

In [85]:
final_sch_descr_table=final_sch_descr_table.join(num_pas_math_by_sch)
final_sch_descr_table=final_sch_descr_table.join(num_pas_read_by_sch)

In [86]:
final_sch_descr_table

,type,reading_score,math_score,size,budget,Num Math Passers,Num Read Passers
school_name,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,3318,4077
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,1749,1803
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,1946,2381
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,1871,2172
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,1371,1426
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,3094,3748
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,395,411
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,1916,2372
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,3145,3867
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,910,923
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,2654,3208
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,1653,1688
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,1525,1591
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,2143,2204
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,1680,1739

In [89]:
final_sch_descr_table['per_math_passers'] = final_sch_descr_table['Num Math Passers'] / final_sch_descr_table['size']
final_sch_descr_table['per_read_passers'] = final_sch_descr_table['Num Read Passers'] / final_sch_descr_table['size']

In [90]:
final_sch_descr_table

,type,reading_score,math_score,size,budget,Num Math Passers,Num Read Passers,per_math_passers,per_read_passers
school_name,,,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,3318,4077,0.666801,0.819333
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,1749,1803,0.941335,0.970398
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,1946,2381,0.659885,0.807392
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,1871,2172,0.683096,0.792990
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,1371,1426,0.933924,0.971390
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,3094,3748,0.667530,0.808630
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,395,411,0.925059,0.962529
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,1916,2372,0.656839,0.813164
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,3145,3867,0.660576,0.812224
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,910,923,0.945946,0.959459
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,2654,3208,0.663666,0.802201
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,1653,1688,0.938671,0.958546
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,1525,1591,0.932722,0.973089
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,2143,2204,0.938677,0.965396
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,1680,1739,0.933333,0.966111

In [91]:
school_data_complete.head()
#school_data_complete['Math and Read Avg'] = (school_data_complete['math_score'] + school_data_complete['reading_score']) / 2

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math and Read Avg
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5

In [92]:
math_and_read_pass = school_data_complete['Math and Read Avg'] > 69
Math_and_read_pass_sub_set=school_data_complete[math_and_read_pass]
Math_and_read_pass_sub_set.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Math and Read Avg
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,94.0

In [97]:
math_read_passer_counts=Math_and_read_pass_sub_set.groupby('school_name').count()
math_read_passer_counts=math_read_passer_counts.drop(columns=['type','gender','student_name','grade','reading_score','math_score','size','budget','Math and Read Avg','School ID'])
math_read_passer_counts = math_read_passer_counts.rename(columns={'Student ID': 'Num Read and Math Passers'})
math_read_passer_counts.head()

                      Num Read and Math Passers
school_name
Bailey High School                         4293
Cabrera High School                        1854
Figueroa High School                       2535
Ford High School                           2361
Griffin High School                        1464

In [98]:
final_sch_descr_table=final_sch_descr_table.join(math_read_passer_counts)
final_sch_descr_table

,type,reading_score,math_score,size,budget,Num Math Passers,Num Read Passers,per_math_passers,per_read_passers,Num Read and Math Passers
school_name,,,,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,3318,4077,0.666801,0.819333,4293
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,1749,1803,0.941335,0.970398,1854
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,1946,2381,0.659885,0.807392,2535
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,1871,2172,0.683096,0.792990,2361
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,1371,1426,0.933924,0.971390,1464
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,3094,3748,0.667530,0.808630,4008
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,395,411,0.925059,0.962529,425
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,1916,2372,0.656839,0.813164,2517
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,3145,3867,0.660576,0.812224,4116
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,910,923,0.945946,0.959459,958
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,2654,3208,0.663666,0.802201,3449
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,1653,1688,0.938671,0.958546,1757
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,1525,1591,0.932722,0.973089,1623
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,2143,2204,0.938677,0.965396,2274
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,1680,1739,0.933333,0.966111,1793

In [99]:
final_sch_descr_table['per_math_and_read_passers'] = final_sch_descr_table['Num Read and Math Passers'] / final_sch_descr_table['size']
final_sch_descr_table

,type,reading_score,math_score,size,budget,Num Math Passers,Num Read Passers,per_math_passers,per_read_passers,Num Read and Math Passers,per_math_and_read_passers
school_name,,,,,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,3318,4077,0.666801,0.819333,4293,0.862741
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,1749,1803,0.941335,0.970398,1854,0.997847
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,1946,2381,0.659885,0.807392,2535,0.859613
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,1871,2172,0.683096,0.792990,2361,0.861993
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,1371,1426,0.933924,0.971390,1464,0.997275
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,3094,3748,0.667530,0.808630,4008,0.864725
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,395,411,0.925059,0.962529,425,0.995316
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,1916,2372,0.656839,0.813164,2517,0.862873
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,3145,3867,0.660576,0.812224,4116,0.864524
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,910,923,0.945946,0.959459,958,0.995842
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,2654,3208,0.663666,0.802201,3449,0.862466
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,1653,1688,0.938671,0.958546,1757,0.997729
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,1525,1591,0.932722,0.973089,1623,0.992661
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,2143,2204,0.938677,0.965396,2274,0.996058
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,1680,1739,0.933333,0.966111,1793,0.996111

In [104]:
final_sch_descr_table = final_sch_descr_table.rename(columns={'type': 'School Type','Size':'Total Students',
                                                              'budget':'Total School Budget',
                                                             'math_score':'Average Math Score',
                                                             'reading_score':'Average Reading Score',
                                                             'per_math_passers':'% Passing Math',
                                                             'per_read_passers':'% Passing Reading',
                                                             'per_math_and_read_passers':'% Overall Passing Rate',
                                                             'size':'Total students'})

In [105]:
final_sch_descr_table

,School Type,Average Reading Score,Average Math Score,Total students,Total School Budget,Num Math Passers,Num Read Passers,% Passing Math,% Passing Reading,Num Read and Math Passers,% Overall Passing Rate
school_name,,,,,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,3318,4077,0.666801,0.819333,4293,0.862741
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,1749,1803,0.941335,0.970398,1854,0.997847
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,1946,2381,0.659885,0.807392,2535,0.859613
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,1871,2172,0.683096,0.792990,2361,0.861993
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,1371,1426,0.933924,0.971390,1464,0.997275
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,3094,3748,0.667530,0.808630,4008,0.864725
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,395,411,0.925059,0.962529,425,0.995316
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,1916,2372,0.656839,0.813164,2517,0.862873
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,3145,3867,0.660576,0.812224,4116,0.864524
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,910,923,0.945946,0.959459,958,0.995842
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,2654,3208,0.663666,0.802201,3449,0.862466
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,1653,1688,0.938671,0.958546,1757,0.997729
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,1525,1591,0.932722,0.973089,1623,0.992661
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,2143,2204,0.938677,0.965396,2274,0.996058
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,1680,1739,0.933333,0.966111,1793,0.996111

In [106]:
final_sch_descr_table=final_sch_descr_table.drop(columns=['Num Math Passers', 'Num Read Passers','Num Read and Math Passers'])

In [107]:
final_sch_descr_table

,School Type,Average Reading Score,Average Math Score,Total students,Total School Budget,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,0.666801,0.819333,0.862741
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,0.941335,0.970398,0.997847
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,0.659885,0.807392,0.859613
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,0.683096,0.792990,0.861993
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,0.933924,0.971390,0.997275
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,0.667530,0.808630,0.864725
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,0.925059,0.962529,0.995316
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,0.656839,0.813164,0.862873
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,0.660576,0.812224,0.864524
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,0.945946,0.959459,0.995842
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,0.663666,0.802201,0.862466
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,0.938671,0.958546,0.997729
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,0.932722,0.973089,0.992661
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,0.938677,0.965396,0.996058
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,0.933333,0.966111,0.996111

In [110]:
final_sch_descr_table=final_sch_descr_table.sort_values(['% Overall Passing Rate'], ascending=True)

In [111]:
final_sch_descr_table

,School Type,Average Reading Score,Average Math Score,Total students,Total School Budget,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,0.659885,0.807392,0.859613
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,0.683096,0.792990,0.861993
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,0.663666,0.802201,0.862466
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,0.666801,0.819333,0.862741
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,0.656839,0.813164,0.862873
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,0.660576,0.812224,0.864524
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,0.667530,0.808630,0.864725
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,0.932722,0.973089,0.992661
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,0.925059,0.962529,0.995316
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,0.945946,0.959459,0.995842
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,0.938677,0.965396,0.996058
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,0.933333,0.966111,0.996111
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,0.933924,0.971390,0.997275
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,0.938671,0.958546,0.997729
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,0.941335,0.970398,0.997847

In [112]:
final_sch_descr_table['perf_rank'] = final_sch_descr_table['% Overall Passing Rate'].rank(ascending=0)

In [113]:
final_sch_descr_table

,School Type,Average Reading Score,Average Math Score,Total students,Total School Budget,% Passing Math,% Passing Reading,% Overall Passing Rate,perf_rank
school_name,,,,,,,,,
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,0.659885,0.807392,0.859613,15.0
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,0.683096,0.792990,0.861993,14.0
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,0.663666,0.802201,0.862466,13.0
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,0.666801,0.819333,0.862741,12.0
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,0.656839,0.813164,0.862873,11.0
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,0.660576,0.812224,0.864524,10.0
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,0.667530,0.808630,0.864725,9.0
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,0.932722,0.973089,0.992661,8.0
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,0.925059,0.962529,0.995316,7.0
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,0.945946,0.959459,0.995842,6.0
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,0.938677,0.965396,0.996058,5.0
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,0.933333,0.966111,0.996111,4.0
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,0.933924,0.971390,0.997275,3.0
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,0.938671,0.958546,0.997729,2.0
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,0.941335,0.970398,0.997847,1.0

In [114]:
# Create variable with TRUE if age is greater than 50
worst_five =final_sch_descr_table['perf_rank'] >10

# Select all cases where nationality is USA and age is greater than 50
sub_set_worst_five=final_sch_descr_table[worst_five]

In [115]:
sub_set_worst_five

,School Type,Average Reading Score,Average Math Score,Total students,Total School Budget,% Passing Math,% Passing Reading,% Overall Passing Rate,perf_rank
school_name,,,,,,,,,
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,0.659885,0.807392,0.859613,15.0
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,0.683096,0.792990,0.861993,14.0
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,0.663666,0.802201,0.862466,13.0
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,0.666801,0.819333,0.862741,12.0
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,0.656839,0.813164,0.862873,11.0

In [ ]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe
#Optional: give the displayed data cleaner formatting

In [126]:
grade_break_down=school_data_complete.groupby(['school_name','grade']).mean()
grade_break_down

                               Student ID  reading_score  math_score  \
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

                             School ID    size     budget  Math and Read Avg
school_name           grade
Bailey High School    10th         7.0  4976.0  3124928.0          78.951977
                      11th         7.0  4976.0  3124928.0          79.230616
                      12th         7.0  4976.0  3124928.0          78.702335
                      9th          7.0  4976.0  3124928.0          79.193416
Cabrera High School   10th         6.0  1858.0  1081356.0          83.703863
                      11th         6.0  1858.0  1081356.0          83.276971
                      12th         6.0  1858.0  1081356.0          83.782723
                      9th          6.0  1858.0  1081356.0          83.385417
Figueroa High School  10th         1.0  2949.0  1884411.0          78.974443
                      11th         1.0  2949.0  1884411.0          78.762341
                      12th         1.0  2949.0  1884411.0          79.268116
                      9th          1.0  2949.0  1884411.0          78.800818
Ford High School      10th        13.0  2739.0  1763916.0          79.467514
                      11th        13.0  2739.0  1763916.0          78.660850
                      12th        13.0  2739.0  1763916.0          78.421150
                      9th         13.0  2739.0  1763916.0          78.996999
Griffin High School   10th         4.0  1468.0   917500.0          83.967980
                      11th         4.0  1468.0   917500.0          84.065097
                      12th         4.0  1468.0   917500.0          83.684932
                      9th          4.0  1468.0   917500.0          82.706601
Hernandez High School 10th         3.0  4635.0  3022020.0          78.998778
                      11th         3.0  4635.0  3022020.0          79.266085
                      12th         3.0  4635.0  3022020.0          79.021855
                      9th          3.0  4635.0  3022020.0          79.152677
Holden High School    10th         8.0   427.0   248087.0          83.377193
                      11th         8.0   427.0   248087.0          84.407767
                      12th         8.0   427.0   248087.0          83.777108
                      9th          8.0   427.0   248087.0          83.732283
Huang High School     10th         0.0  2917.0  1910635.0          78.710561
                      11th         0.0  2917.0  1910635.0          78.932039
                      12th         0.0  2917.0  1910635.0          78.765812
                      9th          0.0  2917.0  1910635.0          79.158768
Johnson High School   10th        12.0  4761.0  3094650.0          78.732274
                      11th        12.0  4761.0  3094650.0          79.053840
                      12th        12.0  4761.0  3094650.0          79.045406
                      9th         12.0  4761.0  3094650.0          79.224286
Pena High School      10th         9.0   962.0   585858.0          83.492000
                      11th         9.0   962.0   585858.0          84.332031
                      12th         9.0   962.0   585858.0          84.356354
                      9th          9.0   962.0   585858.0          83.716364
Rodriguez High School 10th        11.0  3999.0  2547363.0          78.621154
                      11th        11.0  3999.0  2547363.0          78.630219
                      12th        11.0  3999.0  2547363.0          79.033587
                      9th         11.0  3999.0  2547363.0          78.926546
Shelton High School   10th         2.0  1761.0  1056600.0          83.179688
                      11th         2.0  1761.0  1056600.0          83.878641
                      12th         2.0  1761.0  1056600.0          83.280323
                      9th          2.0  1761.0  1056600.0          83.771698
Thomas High School    10th        14.0  1635.0  1043130.0          83.671021
                      11th        14.0  1635.0  1043130.0          83.542169
                      12th        14.0  1635.0  1043130.0          83.664201
                      9th         14.0  1635.0  1043130.0          83.659436
Wilson High School    10th         5.0  2283.0  1319574.0          83.872937
                      11th         5.0  2283.0  1319574.0          83.479967
                      12th         5.0  2283.0  1319574.0          83.676734
                      9th          5.0  2283.0  1319574.0          83.512678
Wright High School    10th        10.0  1800.0  1049400.0          83.911523
                      11th        10.0  1800.0  1049400.0          83.996552
                      12th        10.0  1800.0  1049400.0          83.859079
                      9th         10.0  1800.0  1049400.0          83.549020

In [127]:
grade_break_down=grade_break_down.drop(columns=['Student ID', 'math_score','School ID', 'Math and Read Avg','size','budget'])
grade_break_down

                             reading_score
school_name           grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [ ]:
grade_break_down = grade_break_down.rename(columns={'reading_score': 'School Type'})